{% extends 'generic.html' %}
{%block content%}
<div class='left-side'>
    <div class='centered'>
        <select name="register-list-select" id="register-list-select"onchange="changeFormMaterial(value)" >
            <option value="none"> ----- </option>
            <option value="printed">Printed</option>
            <option value="audiovisual">Audiovisual</option>
            <option value="periodical">Periodical</option>
        </select>
    <form action = "{% url 'add_material' %}"  method = "post" name = "add-material-form" id = "add-material-form" class = "add-material-form" style="display:none;">
            {% csrf_token %}
            <div id = "mat-id-area">
                <label for="mat-id">ID:</label>
                <input type="text" id="mat-id" name="mat_id">
            </div>
            <div id = "title-area">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title">
            </div>
            <div id = "genre-area">
                <label for="genre">Genre:</label>
                <input type="text" id="genre" name="genre">
            </div>
            <div id = "publish-date-area">
                <label for="publish-date">Publish Date:</label>
                <input type="date" id="publish-date" name="publish_date">
            </div>
            <div id = "amount-area">
                <label for="amount">Amount:</label>
                <input type="text" id="amount" name="amount">
            </div>
            <div id = "location-area">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location">
            </div>
            <div class="container" id="author-area">
                <button class="add_form_field">Add New Author &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                <div>
                    <input type="text" name="author_ids[1]" class="author_ids">
                </div>
            </div>
            <div id = "pages-area">
                <label for="pages">Pages:</label>
                <input type="text" id="pages" name="pages">
            </div>
            <div id = "external-rating-area">
                <label for="external-rating">Rating (0 to 5):</label>
                <input type="range" id="external-rating" name="external_rating">
            </div>
            <div id = "length-area">
                <label for="length">Length:</label>
                <input class="text" type="text" id="length" name="length">
            </div>
            <div id = "period-area">
                <label for="period">Period:</label>
                <select id="period" name="period">
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                </select>
            </div>
            <input type="hidden" id="mat_type" name="mat_type">
            <input type="submit" value="Add Material">
        </form>
    </div>
</div>
<script type="text/javascript">
    function changeFormMaterial(value) {
        if (value == "printed"){
            document.getElementById('add-material-form').style.display = 'block';
            document.getElementById('title-area').style.display = 'block';
            document.getElementById('genre-area').style.display = 'block';
            document.getElementById('publish-date-area').style.display = 'block';
            document.getElementById('amount-area').style.display = 'block';
            document.getElementById('location-area').style.display = 'block';
            document.getElementById('pages-area').style.display = 'block';
            document.getElementById('external-rating-area').style.display = 'none';
            document.getElementById('length-area').style.display = 'none';
            document.getElementById('period-area').style.display = 'none';
            document.getElementById('mat_type').value = value;
        }
        else if (value == "audiovisual"){
            document.getElementById('add-material-form').style.display = 'block';
            document.getElementById('title-area').style.display = 'block';
            document.getElementById('genre-area').style.display = 'block';
            document.getElementById('publish-date-area').style.display = 'block';
            document.getElementById('amount-area').style.display = 'block';
            document.getElementById('location-area').style.display = 'block';
            document.getElementById('pages-area').style.display = 'none';
            document.getElementById('external-rating-area').style.display = 'block';
            document.getElementById('length-area').style.display = 'block';
            document.getElementById('period-area').style.display = 'none';
            document.getElementById('mat_type').value = "audiovisual";
            
        } else if (value == "periodical"){
            document.getElementById('add-material-form').style.display = 'block';
            document.getElementById('title-area').style.display = 'block';
            document.getElementById('genre-area').style.display = 'block';
            document.getElementById('publish-date-area').style.display = 'block';
            document.getElementById('amount-area').style.display = 'block';
            document.getElementById('location-area').style.display = 'block';
            document.getElementById('pages-area').style.display = 'block';
            document.getElementById('external-rating-area').style.display = 'none';
            document.getElementById('length-area').style.display = 'none';
            document.getElementById('period-area').style.display = 'block';
            document.getElementById('mat_type').value = "periodical";
        } else {
            document.getElementById('add-material-form').style.display = 'none';
            document.getElementById('title-area').style.display = 'none';
            document.getElementById('genre-area').style.display = 'none';
            document.getElementById('publish-date-area').style.display = 'none';
            document.getElementById('amount-area').style.display = 'none';
            document.getElementById('location-area').style.display = 'none';
            document.getElementById('pages-area').style.display = 'none';
            document.getElementById('external-rating-area').style.display = 'none';
            document.getElementById('length-area').style.display = 'none';
            document.getElementById('period-area').style.display = 'none';
            document.getElementById('mat_type').value = "none";
        }
        
    } 
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script> 
    $(document).ready(function() {
        $("button.add_form_field").click(function(e) {
            e.preventDefault();
            var name = $(this).closest(".container").find("input:first").attr("class")
            var numInputs = 1
            if (numInputs < 10) {
                alert(numInputs)
                numInputs++;
                if (name=="author_ids") {
                    $(this).closest(".container").append('<div><input type="text" name="author_ids"[' + numInputs + ']"/><a href="#" class="delete">Delete</a></div>');
                }
            } else alert('You reached the limits')
        });

        $(document).on("click", ".delete", function(e) {
            numInputs--;
            e.preventDefault();
            $(this).parent('div').remove();
        })
    });
</script>
{%endblock content%}