{% extends 'generic.html' %}
{%block content%}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="columnStyle">
                <h5>Courses</h5>
                <div class="course-list" id="course-list" name="course-list" style="display:block;">
                    {%for tempcourse in courses %}
                        <!--student hepsi icin farkli if atmamiza gerek yok 
                            sanki sonucta hepsinin ismi cekiliyor, burayi bir de scroll* down  yapabilirz-->
                        <div class='scrollmenu' style = 'overflow: auto; white-space: nowrap;'>
                            {% csrf_token %}
                            <text>{{ tempcourse.course_id }}</text>
                            <text>{{ tempcourse.section }}</text>
                            <text>{{ tempcourse.semester }}</text>
                            <text>{{ tempcourse.year }}</text>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="columnStyle">
                <h5>Register Student to Course</h5>
                <form action = "{% url 'register_student_course' %}"  method = "post" name = "register-student-course-form" id = "register-student-course-form" class = "register-student-course-form" style="display:block;">
                    {% csrf_token %}
                    <div id = "user-id-area-student">
                        <label for="user_id_student">User ID:</label>
                        <input type="text" id="user_id_student" name="user_id_student">
                    </div>
                    <div id = "course-id-area-student">
                        <label for="course_id_student">Course ID:</label>
                        <input type="text" id="course_id_student" name="course_id_student">
                    </div>
                    <div id = "section-area-student">
                        <label for="section_student">Section:</label>
                        <input type="text" id="section_student" name="section_student">
                    </div>
                    <div id = "semester-area-student">
                        <label for="set-semester-student-fall">Fall</label>
                        <input type="radio" value="fall" id="set-semester-student-fall" name="set_semester_student" checked="checked">
                        <label for="set-semester-student-spring">Spring</label>
                        <input type="radio" value="spring" id="set-semester-student-spring" name="set_semester_student">
                        <label for="set-semester-student-summer">Summer</label>
                        <input type="radio" value="summer" id="set-semester-student-summer" name="set_semester_student">
                    </div>
                    <div id = "year-area-student">
                        <label for="year_student">Year:</label>
                        <input type="text" id="year_student" name="year_student">
                    </div>
                    <input type="submit" value="Register Student">
                </form>
            </div>
        </div>
        <div class="col-sm">
            <div class="columnStyle">
                <h5>Add New Course</h5>
                <form action = "{% url 'create_course' %}"  method = "post" name = "create-course-form" id = "create-course-form" class = "creates-course-form" style="display:block;">
                    {% csrf_token %}
                    <div id = "course-id-area">
                        <label for="course_id">Course ID:</label>
                        <input type="text" id="course_id" name="course_id">
                    </div>
                    <div id = "section-area">
                        <label for="section">Section:</label>
                        <input type="text" id="section" name="section">
                    </div>
                    <div id = "semester-area">
                        <label for="set-semester-fall">Fall</label>
                        <input type="radio" value="fall" id="set-semester-fall" name="set_semester" checked="checked">
                        <label for="set-semester-spring">Spring</label>
                        <input type="radio" value="spring" id="set-semester-spring" name="set_semester">
                        <label for="set-semester-summer">Summer</label>
                        <input type="radio" value="summer" id="set-semester-summer" name="set_semester">
                    </div>
                    <div id = "year-area">
                        <label for="year">Year:</label>
                        <input type="text" id="year" name="year">
                    </div>
                    <div id = "instructor-id-area">
                        <label for="instructor_id">Instructor ID:</label>
                        <input type="text" id="instructor_id" name="instructor_id">
                    </div>
                    <input type="submit" value="Create Course Section">
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</div>