{% extends 'generic.html' %}
{%block content%}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="columnStyle">
                <div class="course-list" id="course-list" name="course-list" style="display:block;">
                    {%for tempcourse in courses %}
                        <!--student hepsi icin farkli if atmamiza gerek yok 
                            sanki sonucta hepsinin ismi cekiliyor, burayi bir de scroll* down  yapabilirz-->
                        <div class='scrollmenu' style = 'overflow: auto; white-space: nowrap;'>
                            {% csrf_token %}
                            <text>{{ tempcourse.course_id }}</text>
                            <text>{{ tempcourse.section }}</text>
                            <text>{{ tempcourse.semester }}</text>
                            <text>{{ tempcourse.year }}</text>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="columnStyle">
                <div class="selectWrapper">
                    <select class="selectBox" name="register-course-select" id="register-course-select"onchange="changeForm(value)" >
                        <option value="none"> Select type. </option>
                        <option value="student">Student</option>
                        <option value="instructor">Instructor</option>
                    </select>
                </div>
                <form action = "{% url 'register_student_course' %}"  method = "post" name = "register-student-course-form" id = "register-student-course-form" class = "register-student-course-form" style="display:none;">
                    {% csrf_token %}
                    <div id = "user-id-area-student">
                        <label for="user_id_student">User ID:</label>
                        <input type="text" id="user_id_student" name="user_id_student">
                    </div>
                    <div id = "course-id-area">
                        <label for="mat_id_student">Material ID:</label>
                        <input type="text" id="mat_id_student" name="mat_id_student">
                    </div>
                    <div id = "semester-area">
                        <div class="selectWrapper">
                            <select class="selectBox" name="semester" id="semester" >
                                <option value="none"> Select type. </option>
                                <option value="fall">Fall</option>
                                <option value="spring">Spring</option>
                                <option value="summer">Summer</option>
                            </select>
                        </div>
                    </div>
                    <div id = "year-area-student">
                        <label for="year_student">Year:</label>
                        <input type="text" id="year_student" name="year_student">
                    </div>
                    <input type="submit" value="Register Student">
                </form>
                <form action = "{% url 'register_instructor_course' %}"  method = "post" name = "register-instructor-course-form" id = "register-instructor-course-form" class = "register-student-course-form" style="display:none;">
                    {% csrf_token %}
                    <div id = "user-id-area-instructor">
                        <label for="user_id_instructor">User ID:</label>
                        <input type="text" id="user_id_instructor" name="user_id_instructor">
                    </div>
                    <div id = "course-id-area-instructor">
                        <label for="course_id_instructor">Course ID:</label>
                        <input type="text" id="course_id_instructor" name="course_id_instructor">
                    </div>
                    <div id = "section-area-instructor">
                        <label for="section_instructor">Section:</label>
                        <input type="text" id="section_instructor" name="section_instructor">
                    </div>
                    <div id = "semester-area-instructor">
                        <div class="selectWrapper">
                                <option value="none"> Select type. </option>
                                <option value="fall">Fall</option>
                                <option value="spring">Spring</option>
                                <option value="summer">Summer</option>
                            </select>
                        </div>
                    </div>
                    <div id = "year-area-instructor">
                        <label for="year_instructor">Year:</label>
                        <input type="text" id="year_instructor" name="year_instructor">
                    </div>
                    <input type="submit" value="Register Instructor">
                </form>
            </div>
        </div>
        <div class="col-sm">
            <div class="columnStyle">
                <form action = "{% url 'create_course' %}"  method = "post" name = "create-course-form" id = "create-course-form" class = "creates-course-form" style="display:none;">
                    {% csrf_token %}
                    <div id = "course-id-area">
                        <label for="course_id">Course ID:</label>
                        <input type="text" id="course_id" name="course_id">
                    </div>
                    <div id = "section-area">
                        <label for="course_id">Course ID:</label>
                        <input type="text" id="course_id" name="course_id">
                    </div>
                    <div id = "semester-area">
                        <div class="selectWrapper">
                            <select class="selectBox" name="semester" id="semester" >
                                <option value="none"> Select type. </option>
                                <option value="fall">Fall</option>
                                <option value="spring">Spring</option>
                                <option value="summer">Summer</option>
                            </select>
                        </div>
                    </div>
                    <div id = "year-area">
                        <label for="year">Year:</label>
                        <input type="text" id="year" name="year">
                    </div>
                    <input type="submit" value="Create Course Section">
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function onFire(){ alert("Pressed.");}

    function changeForm(value){
        if (value == "student"){
            document.getElementById('register-student-course-form').style.display = 'block';
            document.getElementById('register-instructor-course-form').style.display = 'none';
        }
        else if (value == "instructor"){
            document.getElementById('register-student-course-form').style.display = 'none';
            document.getElementById('register-instructor-course-form').style.display = 'block';
        }
        else {
            document.getElementById('register-student-course-form').style.display = 'none';
            document.getElementById('register-instructor-course-form').style.display = 'none';
        }
    }
</script>