{% extends 'generic.html' %}
{% load static %}
{% block content %}
<html>
    {% if request.session.user_type == "instructor" %}
    <div class="left-side">
        <div class="centered">
            <label for="instructors_hws">Given Homeworks</label>
            <div name="instructor_hws" id="instructor_hws">
            {% for hw in homeworks %}
                <text id="{{ hw.hw_id }}">{{ hw.hw_id }}</text> 
                <form  action = "{% url 'student_homework' %}"  method = "post" name = "homework-form" id = "homework-form" class = "homework-form">
                    {% csrf_token %}
                    <input type="text" name="student_ids">
                    <input type="hidden" name="hw_id" value="{{ hw.hw_id }}">
                    <input type="submit" value="Add Student">
                </form>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="right-side" id="right-side-section">
        <div class="centered">
            <label for="type-select">Assign Homework:</label>

            <form action = "{% url 'create_homework' %}"  method = "post" name = "homework-form2" id = "homework-form2" class = "homework-form2">
                {% csrf_token %}
                <div id="title-area2">
                    <label for="title2">Title:</label>
                    <input type="text" id="title2" name="hw_id">
                </div>
                <div id = "deadline-area2">
                    <label for="deadline2">Deadline:</label>
                    <input type="datetime-local" id="deadline2" name="due" onload="constrainDate()" onchange="constrainDate()">
                </div>
                <div id = "material-set-area2">
                    <div class="selectWrapper">
                        <label for="material-set-select">Material Set for Homework:</label>
                        <select class="selectBox" name="material-select" id="material-select">
                        {% for set in mat_sets %}
                            <option value="{{ set.set_id }}">{{ set.set_id }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="submit" value="Assign Homework"> 
            </form>
        </div>
    </div> 
    {% endif %}
</html>
{% endblock content %}