{% extends 'generic.html' %}
{% load static %}
{% block content %}
<html>
    {% if request.session.user_type == "instructor" %}
    <div class="left-side">
        <div class="centered">
            <label for="instructors_hws">Given Homeworks</label>
            <div name="instructor_hws" id="instructor_hws">
            {% for hw in homeworks%}
                <a class="instructor_hw_item" href="#" id="{{ hw.hw_id }}">{{ hw.hw_id }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="right-side" id="right-side-section">
        <div class="centered">
            <label for="type-select">Assign Homework:</label>
            <select class="selectBox" name="type-select" id="type-select"onchange="changeHwForm(value)" >
                <option value="sec">Directly with Sections</option>
                <option value="ind">Individually</option>
            </select>

            <form action = "{% url 'create_homework' %}"  method = "post" name = "homework-form2" id = "homework-form2" class = "homework-form2" style="display:none;">
                {% csrf_token %}
                <div id="title-area2">
                    <label for="title2">Title:</label>
                    <input type="text" id="title2" name="title">
                </div>
                <div id = "course-area2">
                    <label for="course-select">For Course:</label>
                    <div class="selectWrapper">
                        <select class="selectBox" name="course-select" id="course-select2" onchange="updateSections(value)" >
                            <option value "Please select a course">Please select a course</option>
                        {% for course in courses %}
                            <option value="{{ course.course_id }}/{{ course.section }}"> {{ course.course_id }}/{{ course.section }} </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div id = "student-area" style="display:none;">
                    <label for="student-select">Select Students:</label>
                    <div class="scrollmenu" name="student-select" id="student-select">
                        {% for ss in student_section %} 
                            <input type='checkbox' name='{{ ss.student_id }}-{{ ss.course_id }}/{{ course.section }}' value='{{ ss.student_id }}-{{ ss.course_id }}/{{ course.section }}' style="display:none;">
                            <label for="{{ ss.student_id }}-{{ ss.course_id }}/{{ course.section }}"> {{ ss.student_id }} </label> 
                        {% endfor %}
                    </div>
                </div>
                <div id = "deadline-area2">
                    <label for="deadline2">Deadline:</label>
                    <input type="datetime-local" id="deadline2" name="deadline2" onload="constrainDate()" onchange="constrainDate()">
                </div>
                <div id = "material-set-area2">
                    <div class="selectWrapper">
                        <label for="material-set-select">Material Set for Homework:</label>
                        <select class="selectBox" name="material-set-select" id="material-set-select2">
                        {% for set in mat_sets %}
                            <option value="{{ set.set_id }}">{{ set.set_id }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="submit" value="Assign Homework"> 
            </form>

            <form action = "{% url 'create_homework' %}"  method = "post" name = "homework-form1" id = "homework-form1" class = "homework-form1" style="display:block;">
                {% csrf_token %}
                <div id="title-area1">
                    <label for="title1">Title:</label>
                    <input type="text" id="title1" name="title">
                </div>
                <div id = "course-area">
                    <label for="course-select">For Course:</label>
                    <div class="selectWrapper">
                        <select class="selectBox" name="course-select" id="course-select">
                            <option value "Please select a course">Please select a course</option>
                        {% for course in courses %}
                            <option value="{{ course.course_id }}/{{ course.section }}"> {{ course.course_id }}/{{ course.section }} </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div id = "deadline-area">
                    <label for="deadline">Deadline:</label>
                    <input type="datetime-local" id="deadline" name="deadline" onload="constrainDate()" onchange="constrainDate()">
                </div>
                <div id = "material-set-area">
                    <div class="selectWrapper">
                        <label for="material-set-select">Material Set for Homework:</label>
                        <select class="selectBox" name="material-set-select" id="material-set-select">
                        {% for set in mat_sets %}
                            <option value="{{ set.set_id }}">{{ set.set_id }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Assign Homework"> 
            </form>
        
        </div>
    </div> 

    {%elif request.session.user_type == "student" %}
    <div class="left-side"></div>
    <div class="right-side">
        <div class="centered">
            <label for="student_hws">My Homeworks</label>
            <div name="student_hws" id="student_hws">
            {% for hw in homeworks %}
                <a class="student_hw_item" href="#" id="{{ hw.hw_id }}">{{ hw.hw_id }}</a>
            {% endfor %}
            </div>
        </div>
    </div> 
    {% endif %}

    <script type="text/javascript">
        function updateSections(value){
            document.getElementById("student-area").style.display="block";
            var student_div  = document.getElementById("student-select");
            var list = document.childNodes;
            var i = student_div.childElementCount;
            alert(i);
            var splitted;
            for (let j = 0; j<i; j+=2 ){
                splitted = list[j].value.split("-")
                
                if (splitted[1] == value) {
                    list[j].style.display = "block";
                    
                }
                    
            }
        }
        function changeHwForm(value){
            if(value == "ind"){
                document.getElementById("homework-form1").style.display="none";
                document.getElementById("homework-form2").style.display="block";
            }
            else if (value == "sec") {
                document.getElementById("homework-form1").style.display="block";
                document.getElementById("homework-form2").style.display="none";
            }
        }
    </script>
</html>
{% endblock content %}