{% extends 'generic.html' %}
{% load static %}
{% block content %}
{% if request.session.user_type == "librarian" %}
<div class="left-side">
    <h2>Answered Requests</h2>
    <table>
        <tr>
            <th>Sender</th>
            <th>Material</th>
            <th>Request Date</th>
            <th>Reserve Date</th>
            <th>Due Date</th>
            <th>Message</th>
        </tr>
        {% for req in requests %}
            {% if req.status == "cancelled" or req.status == "returned" or req.status == "rejected"  %}
            <tr>
                <td> {{ req.user_id }} </td>
                <td> {{ req.mat_id }} </td>
                <td> {{ req.request_date }} </td>
                <td> {{ req.reserve_date }} </td>
                <td> {{ req.due_date }} </td>
                <td> {{ req.message }} </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<div class="middle-side">
    <h2>In Process Requests</h2>
    <table>
        <tr>
            <th>Sender</th>
            <th>Material</th>
            <th>Request Date</th>
            <th>Reserve Date</th>
            <th>Due Date</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
        {% for req in requests %}
            {% if req.status == "borrowed"  %}
            <tr>
                <td> {{ req.user_id }} </td>
                <td> {{ req.mat_id }} </td>
                <td> {{ req.request_date }} </td>
                <td> {{ req.reserve_date }} </td>
                <td> {{ req.due_date }} </td>
                <td> {{ req.message }} </td>
                <form action="{% url 'return_material'%}" method = "post" name = "return-material-form" id = "return-material-form" class = "return-material-form" style="display:block;">
                    {% csrf_token %}
                    <input type="hidden" value={{ req.mat_id }} name="mat_id">
                    <input type="hidden" value={{ req.user_id }} name="user_id">
                    <td><input type="number" step="0.5" style="width: 5em" value="0" min="0" max="1000" name="overdue_amount">
                        <input type="submit" value="Return" style="float:inline-end;"></td>s
                   </form>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<div class="middle-side">
    <h2>Waiting Requests</h2>
    <table>
        <tr>
            <th>Sender</th>
            <th>Material</th>
            <th>Request Date</th>
            <th>Reserve Date</th>
            <th>Due Date</th>
            <th>Message</th>
            <th></th>
        </tr>
        {% for req in requests %}
            {% if req.status == "on hold" %}
            <tr>
                <td> {{ req.user_id }} </td>
                <td> {{ req.mat_id }} </td>
                <td> {{ req.request_date }} </td>
                <td> {{ req.reserve_date }} </td>
                <td> {{ req.due_date }} </td>
                <td> {{ req.message }} </td>
                <td>
                    <div style="box-sizing:border-box; display: flex; align-items: center; justify-content: center;">
                        <button value="{{ req.user_id }}-{{ req.mat_id }}" onclick="openPopup(value)">Details</button>
                        <div class="modal-container" id="modal-container-{{ req.user_id }}-{{ req.mat_id }}" style="display: flex; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.3); position: fixed; top: 0; left: 0; height: 100vh; width: 100vw; display:none;">
                            <div style="background-color: #fff; border-radius: 5px;padding: 30px 50px;width: 600px;max-width: 100%;text-align: center;">
                                <h2> {{ req.user_id }}/{{ req.mat_id }} </h2>
                                <p> {{ req.message }} </p>
                                <form action = "{% url 'answer_request' %}" method = "post" class="answer-request-form">
                                    {% csrf_token %}
                                    <input type="text" placeholder="Your Response" name="message">
                                    <input type="hidden" value="{{req.mat_id}}" name="mat_id">
                                    <input type="hidden" value="{{req.user_id}}" name="user_id">
                                    <input type="hidden" name="answer" id="answer-{{ req.user_id }}-{{ req.mat_id }}">
                                    <input type="datetime-local" name="due_date">
                                    <button type="submit" value="{{ req.user_id }}-{{ req.mat_id }}"  name="conclude_button" style="float:inline-end;" onclick="closePopupTrue(value)">Accept</button>
                                    <button type="submit" value="{{ req.user_id }}-{{ req.mat_id }}"  name="conclude_button" style="float:inline-end;" onclick="saveAnswerFalse(value)">Decline</button>
                                </form>
                                <button value="{{ req.user_id }}-{{ req.mat_id }}" onclick="closePopup(value)">Close</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endif %} 
        {% endfor %}
    </table>
</div>
<script type="text/javascript">
    
    function openPopup(value){
        document.getElementById('modal-container-' + value).style.display = "block";
    }

    function closePopup(value){
        document.getElementById('modal-container-' + value).style.display = "none";
    }
    function closePopupTrue(value){
        document.getElementById('answer-' + value).value = "true";
        document.getElementById('modal-container-' + value).style.display = "none";
    }
    function closePopupFalse(value){
        document.getElementById('answer-' + value).value = "false";
        document.getElementById('modal-container-' + value).style.display = "none";
    }
</script>
{% endif %}
{% endblock %}

  