{% extends 'generic.html' %}
{%load static%}
{% block login-form %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
</head>
<body style="align-items: center;
justify-content: center;">
<!--configure the action for the following form!!!!!!!!!!-->
<div style="text-align:center;">
    <form action = "{% url 'user_login' %}" method = "post" class="login-form" style="display: inline-block;">
        {% csrf_token %}
        <div id = "id-area">
            <label style="float-left"for="user-id">ID:</label><br>
            <input style="float-left"type="text" id="user-id" name="user-id" required>
        </div>
        <div id = "password-area">
            <label style="float-right"for="user-password">Password:</label><br>
            <input style="float-left"type="password" id="user-password" name="user-password" required>
        </div>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}