{% extends 'generic.html' %}
{% block content %}
<!--some of backend op is missing, so some of the urls and ids are not certains-->
<!--splitting screen first to show the users and the registration form-->
<div class='left-side'>
    <div class='centered'>
        <div class="material-set-list" id="material-set-list" name="material-set-list" style="display:none;">
            {% for tempset in material_sets %}
                <!--student hepsi icin farkli if atmamiza gerek yok 
                    sanki sonucta hepsinin ismi cekiliyor, burayi bir de scroll* down  yapabilirz-->
                <div class='scrollmenu' style = 'overflow: auto; white-space: nowrap;'>
                    <text>{{ tempset.set_name }}</text>
                    <input type="button" value="Update" style="float: right;" >
                    <form action = "{% url 'material_set_remove' %}" method="post" id="set-delete-form" name="set-delete-form">
                        {% csrf_token %}
                        <input type="hidden" value = {{ tempset.set_id }} name="set-id">
                        <input type="submit" value = "Delete">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class='right-side'>
    <div class='centered'>
        <form action = "{% url 'material_set_add' %}"  method = "post" name = "registration-form" id = "registration-form" class = "registration-form" style="display:none;">
            {% csrf_token %}
            <div id = "set-name-area">
                <label for="set-name">Name:</label>
                <input type="text" id="set-name" name="set-name">
            </div>
            <div id = "publicity-area">
                <p>Publicity:</p>
                <label for="set-name-public">Public</label>
                <input type="radio" value="public" id="set-name-public" name="set-publicity">
                <label for="set-name-private">Private</label>
                <input type="radio" value="private" id="set-name-private" name="set-publicity">
            </div>
            <select name="set-course-select" id="set-course-select">
                {% for course in courses %}
                    <option value="{{ course.course_id }}/{{ course.section }}"> {{ course.name }}/{{ course.section }} </option>
                {% endfor %}
            </select>
            <div class="container" id="added-material-area">
                <button class="add_form_field">Add New Material &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
                <div>
                    <input type="text" name="material_ids[1]" class="author_ids">
                </div>
            </div>
            <input type="hidden" id="type" name="type">
            <input type="submit" value="add-material"> 
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script> 
    $(document).ready(function() {
        $("button.add_form_field").click(function(e) {
            e.preventDefault();
            var name = $(this).closest(".container").find("input:first").attr("class")
            var numInputs = 1
            if (numInputs < 10) {
                alert(numInputs)
                numInputs++;
                if (name=="author_ids") {
                    $(this).closest(".container").append('<div><input type="text" name="material_ids"[' + numInputs + ']"/><a href="#" class="delete">Delete</a></div>');
                }
            } else alert('You reached the limits')
        });

        $(document).on("click", ".delete", function(e) {
            numInputs--;
            e.preventDefault();
            $(this).parent('div').remove();
        })
    });
</script>
{% endblock content %}