{% extends 'generic.html' %}
{% block content %}
<!--some of backend op is missing, so some of the urls and ids are not certains-->
<!--splitting screen first to show the users and the registration form-->
<div class="container">
    <div class="row">
        <div class="col-sm" style="float:inline-start">
            <div class="columnStyle">
                <div class="material-set-list" id="material-set-list" name="material-set-list" style="display:block;">
                {% for tempset in material_sets %}
                <!--student hepsi icin farkli if atmamiza gerek yok 
                    sanki sonucta hepsinin ismi cekiliyor, burayi bir de scroll* down  yapabilirz-->
                    <div class='scrollmenu' style = 'overflow: auto; white-space: nowrap;'>
                        <form action = "{% url 'material_set_remove' %}" method="post" id="set-delete-form" name="set-delete-form">
                            {% csrf_token %}
                            <text>{{ tempset.set_id }}</text>
                            <input type="button" value="Update" style="float: inline-end;" >
                            <input type="hidden" value = {{ tempset.set_id }} name="set-id">
                            <input type="submit" value = "Delete" style="float:inline-end;">
                        </form>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="columnStyle">
                <form action = "{% url 'material_set_add' %}"  method = "post" name = "registration-form" id = "registration-form" class = "registration-form" style="display:block;">
                    {% csrf_token %}
                    <div id = "set-name-area">
                        <label for="set-name">Name:</label>
                        <input type="text" id="set-name" name="set_name">
                    </div>
                    <div id = "publicity-area">
                        <label for="set-name-public">Public</label>
                        <input type="radio" value="public" id="set-name-public" name="set_publicity" checked="checked">
                        <label for="set-name-private">Private</label>
                        <input type="radio" value="private" id="set-name-private" name="set_publicity">
                    </div>
                    <div class="selectWrapper">
                        <select class="selectBox" name="set_course_select" id="set-course-select" onchange="returnValue(value)"  style="display:block;">
                            <option value="none"> Select course. </option>
                            {% for course in courses %}
                                <option value="{{ course.course_id }}/{{ course.section }}"> {{ course.course_id }}/{{ course.section }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="hidden" value="" name="course">
                    <div id="material_list">
                        <label for="material_list">Materials:</label> 
                        <input type="text" name="material_list" class="material_ids">
                    </div>
                    <input type="submit" value="Create Material Set"> 
                </form>
            </div>
        </div>
    </div>
</div>

<div class='right-side'>
    <div class='centered'>
        
    </div>
</div>
<script>
    function returnValue(value){
        document.getElementById("course").value=value;
    }
</script> 

{% endblock content %}