{% extends 'generic.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<!--table for materials-->
<div class='container'>
    <div class="row">
        <div class="col-sm">
            <!--categories of material-->
            <fieldset>
                <legend>Categories</legend>
                <div>
                    <input type="radio" id="all" value="all" name="category" onchange="changeTable(value)" checked>
                    <label for="all">All</label>
                    <p></p>
                    <input type="radio" id="printed" value="printed" name="category" onchange="changeTable(value)">
                    <label for="printed">Printed</label>
                    <p></p>
                    <input type="radio" id="audiovisual" value="audiovisual" name="category" onchange="changeTable(value)">
                    <label for="audiovisual">Audiovisual</label>
                    <p></p>
                    <input type="radio" id="periodical" value="periodical" name="category" onchange="changeTable(value)">
                    <label for="periodical">Periodical</label>
                    <p></p>
                    <input type="radio" id="custom" value="custom" name="category" onchange="changeTable(value)">
                    <label for="custom">Custom</label>
                </div>
            </fieldset>
            <!--date intervals-->
            <form action = "{% url 'search' %}" method = "post" class="search-form">
            {% csrf_token %}
            <fieldset>
                <legend>Publish Date</legend>
                    <div>
                        <label for="date_after">Published After: </label>
                        <input type="date" name="date_after" min="0001-01-01">
                        <label for="date_before">Published Before:</label>
                        <input type="date" name="date_before" max="2022-05-18">
                    </div>
            </fieldset>
        </div>
        <div class="col-sm">
            <h5>Search Inputs</h5>
                <div class="searchbar-container" style="display:flex; flex-direction:row">
                    <input type="text" name="title" placeholder="Title">
                    <input type="text" name="author" placeholder="Author/Creator">
                    <input type="text" name="genre" placeholder="Genre">
                    <input type="text" name="set" placeholder="Set">
                    <div id = "external-rating-area">
                        <label for="external-rating">Rating (0 to 10):</label>
                        <input type="range" id="external-rating" name="rating_threshold" value = "0" oninput="this.nextElementSibling.value = this.value / 10">
                        <output>0</output>
                    </div>
                    <button type = "submit" name="search-button">Search</button>
                </div>
            </form>      
            <div class="material-list">
                <h5>Materials</h5>
                <table>
                <tbody style="display: block;" id="all-table" name="all-table">
                    <tr>
                        <th>Information</th>
                        <th>Publish Date</th>
                        <th>Rating</th>
                        <th>Genre</th>
                        <th>Total Amount</th>
                        <th>Request</th>
                        {% if request.session.user_type == "librarian" %}
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                    
                    {% for mat in materials %}
                    <tr>
                        <td><a href="#">{{ mat.title }}</a></td>
                        <td>{{ mat.publish_date }}</td>
                        <td>{{ mat.rating }}</td>
                        <td>{{ mat.genre }}</td>
                        <td>{{ mat.amount }}</td>
                        <form action="{% url 'hold_material_request' %}" method = "post" name = "hold-material-form" id = "hold-material-form" class = "hold-material-form" style="display:block;">
                            <!--will be available-->
                            {% csrf_token %}
                           <td><input type="text" width="float:right;" name="request-text">
                               <input type="submit" value="Hold Request" style="float:inline-end;"></td>
                            <input type="hidden" value={{ mat.mat_id }} name="mat_id">
                       </form>
                       {% if request.session.user_type == "librarian" %}
                       <form action="{% url 'remove_material'%}" method = "post" name = "remove-material-form" id = "remove-material-form" class = "remove-material-form" style="display:block;">
                        {% csrf_token %}
                        <td><input type="number" style="width: 5em" name="amount">
                            <input type="submit" value="Delete" style="float:inline-end;"></td>
                         <input type="hidden" value={{ mat.mat_id }} name="mat_id">
                       </form>
                       {%else%}
                       <form action="{% url 'rate_material'%}" method = "post" name = "rate-material-form" id = "rate-material-form" class = "rate-material-form" style="display:block;">
                        {% csrf_token %}
                        <td><input type="number" step="0.1" style="width: 5em" min="0" max="10" name="new_rating">
                            <input type="submit" value="Rate" style="float:inline-end;"></td>
                         <input type="hidden" value={{ mat.mat_id }} name="rate_mat_id">
                       </form>
                       {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <table>
                    <tbody style="display: none;" id="printed-table" name="printed-table">
                    <tr>
                        <th>Information</th>
                        <th>Publish Date</th>
                        <th>Rating</th>
                        <th>Genre</th>
                        <th>Pages</th>
                        <th>Total Amount</th>
                        <th>Request</th>
                        {% if request.session.user_type == "librarian" %}
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                    
                    {% for printmat in materials_printed %}
                    <tr>
                        <td><a href="#">{{ printmat.title }}</a></td>
                        <td>{{ printmat.publish_date }}</td>
                        <td>{{ printmat.rating }}</td>
                        <td>{{ printmat.genre }}</td>
                        <td>{{ printmat.pages }}</td>
                        <td>{{ printmat.amount }}</td>
                        <form action="{% url 'hold_material_request' %}" method = "post" name = "hold-material-form" id = "hold-material-form" class = "hold-material-form" style="display:block;">
                            <!--will be available-->
                            {% csrf_token %}
                           <td><input type="text" width="float:right;" name="request-text">
                               <input type="submit" value="Hold Request" style="float:inline-end;"></td>
                            <input type="hidden" value={{ printmat.mat_id }} name="mat_id">
                       </form>
                       {% if request.session.user_type == "librarian" %}
                       <form action="{% url 'remove_material'%}" method = "post" name = "remove-material-form" id = "remove-material-form" class = "remove-material-form" style="display:block;">
                        {% csrf_token %}
                        <td><input type="number" style="width: 5em" name="amount">
                            <input type="submit" value="Delete" style="float:inline-end;"></td>
                         <input type="hidden" value={{ printmat.mat_id }} name="mat_id">
                       </form>
                       {%else%}
                       <form action="{% url 'rate_material'%}" method = "post" name = "rate-material-form" id = "rate-material-form" class = "rate-material-form" style="display:block;">
                        {% csrf_token %}
                        <td><input type="number" step="0.1" style="width: 5em" min="0" max="10" name="new_rating">
                            <input type="submit" value="Rate" style="float:inline-end;"></td>
                         <input type="hidden" value={{ printmat.mat_id }} name="rate_mat_id">
                       </form>
                       {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <table>
                    <tbody style="display: none;" id="audiovisual-table" name="audiovisual-table">
                    <tr>
                        <th>Information</th>
                        <th>Publish Date</th>
                        <th>Rating</th>
                        <th>Genre</th>
                        <th>Length</th>
                        <th>Total Amount</th>
                        <th>Request</th>
                        {% if request.session.user_type == "librarian" %}
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                    
                    {% for avmat in materials_audiovisual %}
                    <tr>
                        <td><a href="#">{{ avmat.title }}</a></td>
                        <td>{{ avmat.publish_date }}</td>
                        <td>{{ avmat.rating }}</td>
                        <td>{{ avmat.genre }}</td>
                        <td>{{ avmat.length }}</td>
                        <td>{{ avmat.amount }}</td>
                        <form action="{% url 'hold_material_request' %}" method = "post" name = "hold-material-form" id = "hold-material-form" class = "hold-material-form" style="display:block;">
                            <!--will be available-->
                            {% csrf_token %}
                           <td><input type="text" width="float:right;" name="request-text">
                               <input type="submit" value="Hold Request" style="float:inline-end;"></td>
                            <input type="hidden" value={{ avmat.mat_id }} name="mat_id">
                       </form>
                       {% if request.session.user_type == "librarian" %}
                       <form action="{% url 'remove_material'%}" method = "post" name = "remove-material-form" id = "remove-material-form" class = "remove-material-form" style="display:block;">
                        {% csrf_token %}
                        <td><input type="number" step="0.1" style="width: 5em" min="0" max="10" name="new_rating">
                            <input type="submit" value="Delete" style="float:inline-end;"></td>
                         <input type="hidden" value={{ avmat.mat_id }} name="mat_id">
                       </form>
                       {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <table>
                    <tbody style="display: none;" id="periodical-table" name="periodical-table">
                    <tr>
                        <th>Information</th>
                        <th>Publish Date</th>
                        <th>Rating</th>
                        <th>Genre</th>
                        <th>Period</th>
                        <th>Total Amount</th>
                        <th>Request</th>
                        {% if request.session.user_type == "librarian" %}
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                    
                    {% for permat in materials_periodical %}
                    <tr>
                        <td><a href="#">{{ permat.title }}</a></td>
                        <td>{{ permat.publish_date }}</td>
                        <td>{{ permat.rating }}</td>
                        <td>{{ permat.genre }}</td>
                        <td>{{ permat.period }}</td>
                        <td>{{ permat.amount }}</td>
                        <form action="{% url 'hold_material_request' %}" method = "post" name = "hold-material-form" id = "hold-material-form" class = "hold-material-form" style="display:block;">
                            <!--will be available-->
                            {% csrf_token %}
                           <td><input type="text" width="float:right;" name="request-text">
                               <input type="submit" value="Hold Request" style="float:inline-end;"></td>
                            <input type="hidden" value={{ permat.mat_id }} name="mat_id">
                       </form>
                       {% if request.session.user_type == "librarian" %}
                       <form action="{% url 'remove_material'%}" method = "post" name = "remove-material-form" id = "remove-material-form" class = "remove-material-form" style="display:block;">
                        {% csrf_token %}
                        <td><input type="number" style="width: 5em" name="amount">
                            <input type="submit" value="Delete" style="float:inline-end;"></td>
                         <input type="hidden" value={{ permat.mat_id }} name="mat_id">
                       </form>
                       {%else%}
                       <form action="{% url 'rate_material'%}" method = "post" name = "rate-material-form" id = "rate-material-form" class = "rate-material-form" style="display:block;">
                        {% csrf_token %}
                        <td><input type="number" step="0.1" style="width: 5em" min="0" max="10" name="new_rating">
                            <input type="submit" value="Rate" style="float:inline-end;"></td>
                         <input type="hidden" value={{ mat.mat_id }} name="rate_mat_id">
                       </form>
                       {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <table>
                    <tbody style="display: none;" id="custom-table" name="custom-table">
                    <tr>
                        <th>Information</th>
                        <th>Publish Date</th>
                        <th>Rating</th>
                        <th>Genre</th>
                        <th>Total Amount</th>
                        <th>Request</th>
                        {% if request.session.user_type == "librarian" %}
                        <th>Delete</th>
                        {% endif %}
                    </tr>
                    
                    {% for custommat in materials_custom %}
                    <tr>
                        <td><a href="#">{{ custommat.title }}</a></td>
                        <td>{{ custommat.publish_date }}</td>
                        <td>{{ custommat.rating }}</td>
                        <td>{{ custommat.genre }}</td>
                        <td>{{ custommat.amount }}</td>
                        <form action="{% url 'hold_material_request' %}" method = "post" name = "hold-material-form" id = "hold-material-form" class = "hold-material-form" style="display:block;">
                            <!--will be available-->
                            {% csrf_token %}
                           <td><input type="text" width="float:right;" name="request-text">
                               <input type="submit" value="Hold Request" style="float:inline-end;"></td>
                            <input type="hidden" value={{ custommat.mat_id }} name="mat_id">
                       </form>
                       {% if request.session.user_type == "librarian" %}
                       <form action="{% url 'remove_material'%}" method = "post" name = "remove-material-form" id = "remove-material-form" class = "remove-material-form" style="display:block;">
                        {% csrf_token %}
                        <td><input type="number" style="width: 5em" name="amount">
                            <input type="submit" value="Delete" style="float:inline-end;"></td>
                         <input type="hidden" value={{ custommat.mat_id }} name="mat_id">
                       </form>
                       {%else%}
                       <form action="{% url 'rate_material'%}" method = "post" name = "rate-material-form" id = "rate-material-form" class = "rate-material-form" style="display:block;">
                        {% csrf_token %}
                        <td><input type="number" step="0.1" style="width: 5em" min="0" max="10" name="new_rating">
                            <input type="submit" value="Rate" style="float:inline-end;"></td>
                         <input type="hidden" value={{ mat.mat_id }} name="rate_mat_id">
                       </form>
                       {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function changeTable(value){
        if (value == "all"){
            document.getElementById('all-table').style.display = 'block';
            document.getElementById('printed-table').style.display = 'none';
            document.getElementById('audiovisual-table').style.display = 'none';
            document.getElementById('periodical-table-top').style.display = 'none';
            document.getElementById('periodical-table-rows').style.display = 'none';
            document.getElementById('custom-table').style.display = 'none';
        }
        else if (value == "printed"){
            document.getElementById('all-table').style.display = 'none';
            document.getElementById('printed-table').style.display = 'block';
            document.getElementById('audiovisual-table').style.display = 'none';
            document.getElementById('periodical-table').style.display = 'none';
            document.getElementById('custom-table').style.display = 'none';
        }
        else if (value == "audiovisual"){
            document.getElementById('all-table').style.display = 'none';
            document.getElementById('printed-table').style.display = 'none';
            document.getElementById('audiovisual-table').style.display = 'block';
            document.getElementById('periodical-table').style.display = 'none';
            document.getElementById('custom-table').style.display = 'none';
        }
        else if (value == "custom"){
            document.getElementById('all-table').style.display = 'none';
            document.getElementById('printed-table').style.display = 'none';
            document.getElementById('audiovisual-table').style.display = 'none';
            document.getElementById('periodical-table').style.display = 'none';
            document.getElementById('custom-table').style.display = 'block';
        }
        else if (value == "periodical"){
            document.getElementById('all-table').style.display = 'none';
            document.getElementById('printed-table').style.display = 'none';
            document.getElementById('audiovisual-table').style.display = 'none';
            document.getElementById('periodical-table').style.display = 'block';
            document.getElementById('custom-table').style.display = 'none';
        }
        else {
            document.getElementById('all-table').style.display = 'none';
            document.getElementById('printed-table').style.display = 'none';
            document.getElementById('audiovisual-table').style.display = 'none';
            document.getElementById('periodical-table').style.display = 'none';
            document.getElementById('custom-table').style.display = 'none';
        }
    }
</script>
{% endblock content %}

