{% extends 'generic.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<!--splitting screen first to show the users and the registration form-->
<div class="container">
    <div class="row">
        <div class="col-sm" style="float:inline-start">
            <div class="columnStyle">
            <div class="selectWrapper">
                <select class="selectBox" name="register-list-select" id="register-list-select"onchange="changeList(value)" >
                    <option value="none"> Select type. </option>
                    <option value="student">Student</option>
                    <option value="instructor">Instructor</option>
                    <option value="librarian">Librarian</option>
                    <option value="outside-member">Outside Member</option>
                </select>
            </div>
            <div class="student-list"id="student-list"name="student-list" style="display:none;">
                {%for tempuser in users %}
                    <!--student hepsi icin farkli if atmamiza gerek yok 
                        sanki sonucta hepsinin ismi cekiliyor, burayi bir de scroll* down  yapabilirz-->
                    {% if tempuser.type == "student" %}
                    <div class='scrollmenu' style = 'overflow: auto; white-space: nowrap;'>
                        <form action = "{% url 'user_remove' %}" method="post" id="delete-form" name="delete-form"></form>
                            {% csrf_token %}
                            <text>{{ tempuser.username }}</text>
                            <input type="button" value="Update" style="float:inline-end;">
                            <input type="hidden" value = {{ tempuser.username }} name="username">
                            <input type="submit" value = "Delete" style="float:inline-end;">
                        </form>
                    </div>
                    {%endif%}
                {%endfor%}
            </div>
            <div class="instructor-list"id="instructor-list"name="instructor-list" style="display:none;">
                {%for tempuser in users %} 
                    <!--student hepsi icin farkli if atmamiza gerek yok 
                        sanki sonucta hepsinin ismi cekiliyor, burayi bir de scroll* down  yapabilirz-->
                    {% if tempuser.type == "instructor" %}
                    <div class='scrollmenu' style = 'overflow: auto; white-space: nowrap;'>
                        <form action = "{% url 'user_remove' %}" method="post" id="delete-form" name="delete-form"></form>
                            <text>{{ tempuser.username }}</text>
                            <input type="button" value="Update" style="float:inline-end;">
                            {% csrf_token %}
                            <input type="hidden" value = {{ tempuser.username }} name="username">
                            <input type="submit" value = "Delete" style="float:inline-end;">
                        </form>
                    </div>
                    {%endif%}
                
                {%endfor%}
            </div>
            <div class="librarian-list"id="librarian-list"name="librarian-list" style="display:none;">
                {%for tempuser in users %} 
                    <!--student hepsi icin farkli if atmamiza gerek yok 
                        sanki sonucta hepsinin ismi cekiliyor, burayi bir de scroll* down  yapabilirz-->
                    {% if tempuser.type == "librarian" %}
                    <div class='scrollmenu' style = 'overflow: auto; white-space: nowrap;'>
                        <form action = "{% url 'user_remove' %}" method="post" id="delete-form" name="delete-form"></form>
                            <text>{{ tempuser.username }}</text>
                            <input type="button" value="Update" style="float:inline-end;">
                            {% csrf_token %}
                            <input type="hidden" value = {{ tempuser.username }} name="username">
                            <input type="submit" value = "Delete" style="float:inline-end;">
                        </form>
                    </div>
                    {%endif%}
                
                {%endfor%}
            </div>
            <div class="outside-member-list" id="outside-member-list" name="outside-member-list" style="display:none;">
                {%for tempuser in users %} 
                    <!--student hepsi icin farkli if atmamiza gerek yok 
                        sanki sonucta hepsinin ismi cekiliyor, burayi bir de scroll* down  yapabilirz-->
                    {% if tempuser.type == "outsidemember" %}
                    <div class='scrollmenu' style = 'overflow: auto; white-space: nowrap;'>
                        <form action = "{% url 'user_remove' %}" method="post" id="delete-form" name="delete-form"></form>
                            <text>{{ tempuser.username }}</text>
                            <input type="button" value="Update" style="float:inline-end;">
                            {% csrf_token %}
                            <input type="hidden" value = {{ tempuser.username }} name="username">
                            <input type="submit" value = "Delete" style="float:inline-end;">
                        </form>
                    </div>
                    {%endif%}
                
                {%endfor%}
            </div>
        </div>
        </div>
        <div class="col-sm">
            <div class="columnStyle">
            <div class="selectWrapper">
                <select class="selectBox" name="register-select" id="register-select"onchange="changeForm(value)" >
                    <option value="none"> Select type. </option>
                    <option value="student">Student</option>
                    <option value="instructor">Instructor</option>
                    <option value="librarian">Librarian</option>
                    <option value="outside-member">Outside Member</option>
                </select>
            </div>
            <form action = "{% url 'user_register' %}"  method = "post" name = "registration-form" id = "registration-form" class = "registration-form" style="display:none;">
                {% csrf_token %}
                <div id = "id-area">
                    <label for="id">ID:</label>
                    <input type="text" id="id" name="id">
                </div>
                <div id = "first-name-area">
                    <label for="name">First Name:</label>
                    <input type="text" id="first_name" name="first_name">
                </div>
                <div id = "last-name-area">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name">
                </div>
                <div id = "email-area">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email">
                </div>
                <div id = "dept-area">
                    <label for="department">Department:</label>
                    <input type="text" id="department" name="department">
                </div>
                <div id = "gpa-area">
                    <label for="gpa">GPA:</label>
                    <input type="text" id="gpa" name="gpa">
                </div>
                <div id = "spec-area">
                    <label for="specialization">Specialization:</label>
                    <input type="text" id="specialization" name="specialization">
                </div>
                <div id = "tenure-area">
                    <label for="tenure">Tenure:</label>
                    <input type="text" id="tenure" name="tenure">
                </div>
                <div id = "office-area">
                    <label for="office">Office:</label>
                    <input type="text" id="office" name="office">
                </div>
                <div id = "card-no-area">
                    <label for="card_no">Card No:</label>
                    <input type="text" id="card_no" name="card_no">
                </div>
                <div id = "expire-date-area">
                    <label for="expire_date">Expire Date:</label>
                    <input type="text" id="expire_date" name="expire_date">
                </div>
                <div id = "password-area">
                    <label for="password">Password:</label>
                    <input type="text" id="password" name="password">
                </div>
                <input type="hidden" id="type" name="type">
                <input type="submit" value="Register">
            </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function onFire(){ alert("Pressed.");}
    function changeForm(value){
        if (value == "student"){
            document.getElementById('registration-form').style.display = 'block';
            document.getElementById('first-name-area').style.display = 'block';
            document.getElementById('last-name-area').style.display = 'block';
            document.getElementById('email-area').style.display = 'block';
            document.getElementById('dept-area').style.display = 'block';
            document.getElementById('gpa-area').style.display = 'block';
            document.getElementById('spec-area').style.display = 'none';
            document.getElementById('tenure-area').style.display = 'none';
            document.getElementById('office-area').style.display = 'none';
            document.getElementById('card-no-area').style.display = 'none';
            document.getElementById('expire-date-area').style.display = 'none';
            document.getElementById('password-area').style.display = 'block';
            document.getElementById('type').value = "student";
        }
        else if (value == "instructor"){
            document.getElementById('registration-form').style.display = 'block';
            document.getElementById('first-name-area').style.display = 'block';
            document.getElementById('last-name-area').style.display = 'block';
            document.getElementById('email-area').style.display = 'block';
            document.getElementById('dept-area').style.display = 'block';
            document.getElementById('gpa-area').style.display = 'none';
            document.getElementById('spec-area').style.display = 'none';
            document.getElementById('tenure-area').style.display = 'block';
            document.getElementById('office-area').style.display = 'block';
            document.getElementById('card-no-area').style.display = 'none';
            document.getElementById('expire-date-area').style.display = 'none';
            document.getElementById('password-area').style.display = 'block';
            document.getElementById('type').value = "instructor";
        }
        else if (value == "librarian"){
            document.getElementById('registration-form').style.display = 'block';
            document.getElementById('first-name-area').style.display = 'block';
            document.getElementById('last-name-area').style.display = 'block';
            document.getElementById('email-area').style.display = 'block';
            document.getElementById('dept-area').style.display = 'none';
            document.getElementById('gpa-area').style.display = 'none';
            document.getElementById('spec-area').style.display = 'block';
            document.getElementById('tenure-area').style.display = 'none';
            document.getElementById('office-area').style.display = 'none';
            document.getElementById('card-no-area').style.display = 'none';
            document.getElementById('expire-date-area').style.display = 'none';
            document.getElementById('password-area').style.display = 'block';
            document.getElementById('type').value = "librarian";
        }
        else if (value == "outside-member"){
            document.getElementById('registration-form').style.display = 'block';
            document.getElementById('first-name-area').style.display = 'block';
            document.getElementById('last-name-area').style.display = 'block';
            document.getElementById('email-area').style.display = 'block';
            document.getElementById('dept-area').style.display = 'none';
            document.getElementById('gpa-area').style.display = 'none';
            document.getElementById('spec-area').style.display = 'none';
            document.getElementById('tenure-area').style.display = 'none';
            document.getElementById('office-area').style.display = 'none';
            document.getElementById('card-no-area').style.display = 'block';
            document.getElementById('expire-date-area').style.display = 'block';
            document.getElementById('password-area').style.display = 'block';
            document.getElementById('type').value = "outsidemember";
        }
        else {
            document.getElementById('registration-form').style.display = 'none';
            document.getElementById('first-name-area').style.display = 'none';
            document.getElementById('last-name-area').style.display = 'none';
            document.getElementById('email-area').style.display = 'none';
            document.getElementById('dept-area').style.display = 'none';
            document.getElementById('gpa-area').style.display = 'none';
            document.getElementById('spec-area').style.display = 'none';
            document.getElementById('tenure-area').style.display = 'none';
            document.getElementById('office-area').style.display = 'none';
            document.getElementById('card-no-area').style.display = 'none';
            document.getElementById('expire-date-area').style.display = 'none';
            document.getElementById('password-area').style.display = 'none';
        }
    }
    
    function changeList(value){
        if (value == "student"){
            document.getElementById('student-list').style.display = 'block';
            document.getElementById('instructor-list').style.display = 'none';
            document.getElementById('librarian-list').style.display = 'none';
            document.getElementById('outside-member-list').style.display = 'none';
        }
        else if (value == "instructor"){
            document.getElementById('student-list').style.display = 'none';
            document.getElementById('instructor-list').style.display = 'block';
            document.getElementById('librarian-list').style.display = 'none';
            document.getElementById('outside-member-list').style.display = 'none';
        }
        else if (value == "librarian"){
            document.getElementById('student-list').style.display = 'none';
            document.getElementById('instructor-list').style.display = 'none';
            document.getElementById('librarian-list').style.display = 'block';
            document.getElementById('outside-member-list').style.display = 'none';
        }
        else if (value == "outside-member"){
            document.getElementById('student-list').style.display = 'none';
            document.getElementById('instructor-list').style.display = 'none';
            document.getElementById('librarian-list').style.display = 'none';
            document.getElementById('outside-member-list').style.display = 'block';
        }
        else {
            document.getElementById('student-list').style.display = 'none';
            document.getElementById('instructor-list').style.display = 'none';
            document.getElementById('librarian-list').style.display = 'none';
            document.getElementById('outside-member-list').style.display = 'none';
        }
    }
</script>
{% endblock content %}
