{% extends 'generic.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<div class="warning-list">
    <table>
        <tr>
            <th>Warning ID</th>
            <th>Material ID</th>
            <th>Text</th>
            <th>Remaining Days</th>
        </tr>
        
        {% for warn in users_warnings %}
        <tr>
            <td><a href="#">{{ warn.warn_id }}</a></td>
            <td>{{ warn.mat_id }}</td>
            <td>{{ warn.text }}</td>
            <td>{{ warn.remaining_days }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}