{% extends 'generic.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<!--splitting screen first to show the users and the registration form-->
{% if request.session.user_type == "librarian" %}
<div class="container">
    <div class="row">
        <div class="col-sm" style="float:inline-start">
            <h5>Reservations</h5>
            <div class="columnStyle">
            <div class="res-list" id="res-list"name="res-list" style="display:block;">
                <table>
                    <tr>
                        <th>User ID</th>
                        <th>Material ID</th>
                        <th>Due Date</th>
                    </tr>
                    
                    {% for tempres in reservation_list %}
                    <tr>
                        <td>{{ tempres.user_id }}</td>
                        <td>{{ tempres.mat_id }}</td>
                        <td>{{ tempres.due_date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
        <div class="col-sm">
            <h5>Create Warning</h5>
            <div class="columnStyle">
            <div class="selectWrapper">
                <select class="selectBox" name="warning-select" id="warning-select"onchange="changeForm(value)" >
                    <option value="none"> Select type. </option>
                    <option value="overdue">Overdue Warning</option>
                    <option value="nearlydue">Nearly Due Warning</option>
                </select>
            </div>
                <form action = "{% url 'create_overdue_warning' %}"  method = "post" name = "overdue-warning-form" id = "overdue-warning-form" class = "overdue-warning-form" style="display:none;">
                    {% csrf_token %}
                    <div id = "user-id-area">
                        <label for="user_id">User ID:</label>
                        <input type="text" id="user_id" name="user_id">
                    </div>
                    <div id = "mat-id-area">
                        <label for="mat_id">Material ID:</label>
                        <input type="text" id="mat_id" name="mat_id">
                    </div>
                    <div id = "text-area">
                        <label for="text">Text:</label>
                        <input type="text" id="text" name="text">
                    </div>
                    <div id = "balance-area">
                        <label for="balance">Balance:</label>
                        <input type="text" id="balance" name="balance">
                    </div>
                    <input type="submit" value="Send Warning">
                </form>
                <form action = "{% url 'create_nearlydue_warning' %}"  method = "post" name = "nearlydue-warning-form" id = "nearlydue-warning-form" class = "nearlydue-warning-form" style="display:none;">
                    {% csrf_token %}
                    <div id = "user-id-area">
                        <label for="user_id">User ID:</label>
                        <input type="text" id="user_id" name="user_id">
                    </div>
                    <div id = "mat-id-area">
                        <label for="mat_id">Material ID:</label>
                        <input type="text" id="mat_id" name="mat_id">
                    </div>
                    <div id = "text-area">
                        <label for="text">Text:</label>
                        <input type="text" id="text" name="text">
                    </div>
                    <div id = "remaining-days-area">
                        <label for="remaining_days">Remaining Days:</label>
                        <input type="number" id="remaining_days" name="remaining_days">
                    </div>
                    <input type="submit" value="Send Warning">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script type="text/javascript">
    function onFire(){ alert("Pressed.");}

    function changeForm(value){
        if (value == "overdue"){
            document.getElementById('overdue-warning-form').style.display = 'block';
            document.getElementById('nearlydue-warning-form').style.display = 'none';
            document.getElementById('user-id-area').style.display = 'block';
            document.getElementById('mat-id-area').style.display = 'block';
            document.getElementById('text-area').style.display = 'block';
            document.getElementById('balance-area').style.display = 'block';
            document.getElementById('remaining-days-area').style.display = 'none';
        } else if (value == "nearlydue"){
            document.getElementById('overdue-warning-form').style.display = 'none';
            document.getElementById('nearlydue-warning-form').style.display = 'block';
            document.getElementById('user-id-area').style.display = 'block';
            document.getElementById('mat-id-area').style.display = 'block';
            document.getElementById('text-area').style.display = 'block';
            document.getElementById('balance-area').style.display = 'none';
            document.getElementById('remaining-days-area').style.display = 'block';
        } else {
            document.getElementById('overdue-warning-form').style.display = 'none';
            document.getElementById('nearlydue-warning-form').style.display = 'none';
            document.getElementById('user-id-area').style.display = 'none';
            document.getElementById('mat-id-area').style.display = 'none';
            document.getElementById('text-area').style.display = 'none';
            document.getElementById('remaining-days-area').style.display = 'none';
            document.getElementById('password-area').style.display = 'none';
        }
    }
</script>
{% endblock content %}
